In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

## 加载数据

### 加载商铺数据
```
- shop_id 商铺id
- city_name 城市名称
- location_id 区域ID
- per_pay 人均消费(越大越高)
- score 商铺评分
- comment_cnt 评论数量
- shop_level 门店等级（数值越大门店等级越高）
- cate_1_name 分类1
- cate_2_name 分类2
- cate_3_name 分类3
```

In [8]:
df_shop = pd.read_csv('../data/shop_info.txt', header=None)
df_shop.columns = columns = ['shop_id', 'city_name', 'location_id', 'per_pay',
                             'score', 'comment_cnt', 'shop_level', 'cate_1_name', 'cate_2_name', 'cate_3_name']
df_shop.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果

In [9]:
df_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   shop_id      2000 non-null   int64
 1   city_name    2000 non-null   object
 2   location_id  2000 non-null   int64
 3   per_pay      2000 non-null   int64
 4   score        1709 non-null   float64
 5   comment_cnt  1709 non-null   float64
 6   shop_level   2000 non-null   int64
 7   cate_1_name  2000 non-null   object
 8   cate_2_name  2000 non-null   object
 9   cate_3_name  1415 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 156.4+ KB

### 加载浏览数据

In [11]:
df_browser = pd.read_csv('../data/user_view.txt', header=None)
df_browser.columns = ['user_id', 'shop_id', 'timestamp']
df_browser.head()

    user_id  shop_id            timestamp
0  13201967     1197  2016-10-21 18:00:00
1  19461365     1197  2016-06-28 23:00:00
2  15022321     1197  2016-07-16 19:00:00
3   5440872     1197  2016-07-15 07:00:00
4  12594529     1197  2016-08-07 16:00:00

In [15]:
# 浏览数据有5556715
df_browser.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5556715 entries, 0 to 5556714
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   user_id    int64
 1   shop_id    int64
 2   timestamp  object
dtypes: int64(2), object(1)
memory usage: 127.2+ MB

### 加载交易数据

In [13]:
df_pay = pd.read_csv('../data/user_pay.txt', header=None)
df_pay.columns = ['user_id', 'shop_id', 'timestamp']
df_pay.head()

    user_id  shop_id            timestamp
0  22127870     1862  2015-12-25 17:00:00
1   3434231     1862  2016-10-05 11:00:00
2  16955285     1862  2016-02-10 15:00:00
3  13799128     1862  2016-01-13 14:00:00
4  13799128     1862  2016-07-05 12:00:00

In [16]:
# 交易数据有69674110
df_pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69674110 entries, 0 to 69674109
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   user_id    int64
 1   shop_id    int64
 2   timestamp  object
dtypes: int64(2), object(1)
memory usage: 1.6+ GB