In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [2]:
df_true = pd.read_csv('../data/prediction/xgb_true.csv',header=None)
df_true.head()

     0    1    2    3    4    5    6
0  255  172  226  257  251  281  180
1   80   61   68  103  102  104   67
2   90  104   55  110  215  196  115
3  302    1    0  215  203  291  239
4   97  100  117  133  109  118   86

In [3]:
df_predict = pd.read_csv('../data/prediction/xgb_predict.csv',header=None)
df_predict

        0    1    2    3    4    5    6
0     219  215  228  255  239  249  215
1      71   69   67   94  107  106   67
2      96   94   92  112  174  185   96
3     302  251  269  257  195  222  306
4      91   90   92   97  106  113   97
...   ...  ...  ...  ...  ...  ...  ...
1921   76   72   76   78   74   75   73
1922  272  269  273  254  129  122  270
1923  487  533  541  534  303  307  525
1924  309  308  294  334  447  483  328
1925  153  147  158  156   79   71  146

[1926 rows x 7 columns]

In [4]:
# 10月25~10月31日
result = {}
for i in range(7):
    print(np.sqrt(mean_squared_error(df_true.iloc[:,i].values,df_predict.iloc[:,i].values)))

27.698167331436373
33.160909188903176
35.854825837333884
32.6909837014526
53.65304290997371
54.124088225780454
31.70257842372379

In [5]:
55/1.3

42.30769230769231

In [6]:
np.mean((df_true.iloc[:,4] - df_predict.iloc[:,4])/df_predict.iloc[:,4])

0.049516103621272754